$icon-font: 'PrefsFramework-Icons';

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: url('../../../lib/opensans/fonts/OpenSans-Light.woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    src: url('../../../lib/opensans/fonts/OpenSans-Regular.woff');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    src: url('../../../lib/opensans/fonts/OpenSans-SemiBold.woff');
}

body {
    margin: 0;
}

// Top bar and show/hide button
.fl-prefsEditor-separatedPanel {
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    .fl-prefsEditor-showHide {
        background-color: var(--fl-bgColor, #fff);
        border: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        color: var(--fl-fgColor);
        display: grid;
        margin-right: 1rem;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;

        .fl-slidingPanel-arrow {
            align-self: center;
            grid-area: 2 / 1 / 3 / 2;
            margin: 0.2rem;

            &::before {
                content: "\142f";
            }
        }

        .fl-slidingPanel-text {
            align-items: center;
            background-color: var(--fl-buttonBgColor, #404040);
            color: var(--fl-fgColor, #fff);
            display: flex;
            flex-direction: column;
            grid-area: 1 / 1 / 2 / 2;
            height: 5rem;
            justify-content: space-around;
            width: 6rem;
        }
    }

    &.fl-prefsEditor-separatedPanel-expanded {
        .fl-prefsEditor-showHide {
            border-radius: 0;
            display: block;
            margin: 0;
            position: initial;
            width: 100%;

            .fl-slidingPanel-arrow::before {
                content: "\1431";
            }

            .fl-slidingPanel-text {
                display: none;
            }
        }
    }

    // large screen / desktop view
    @media screen and (min-width: 40em) {
        flex-direction: row;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;

        .fl-prefsEditor-showHide {
            box-shadow: none;
            float: right;
            font-size: 1rem;

            .fl-slidingPanel-arrow {
                border-radius: 10px 0 0 10px;
                grid-area: 1 / 1 / 2 / 2;
                width: 1rem;

                &::before {
                    content: "\1438";
                }
            }

            .fl-slidingPanel-text {
                grid-area: 1 / 2 / 2 / 3;
            }
        }

        &.fl-prefsEditor-separatedPanel-expanded {
            .fl-prefsEditor-showHide {
                border-radius: 10px 0 0 10px;
                height: 4rem;
                width: 1rem;

                .fl-slidingPanel-arrow::before {
                    content: "\1433";
                }
            }

            .fl-prefsEditor-iframe {
                overflow-y: scroll;
            }
        }
    }
}

// IFrame
.fl-prefsEditor-separatedPanel-iframe {
    background-color: var(--fl-bgColor, #fff);
    border: 0;
    height: 0;
    width: 100%;
}
